#navb{
    width: 100%;
    align: center;
    margin: auto;
    background-color: #87A43E;
    border-top:4px solid #37595E;
    padding: 10px;
}
body{
    background-color: #159397;
}
.footer{
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 70%;
    align: center;
    margin: auto;
}

table {
	padding: 20px;
	margin: auto;
	text-align: center;
	border:1px solid #37595E;

}

table, th, td {
     text-align: center;
     border-top: 2px solid #37595E;
     width: 50%;
     padding: 15px;
 }

 th {
      background-color: #009688;
      color: white;
  }
.container{
    margin: auto;
}
.wrapper{
    width: 70%;
    align: center;
    height: 100%;
    margin: auto;
    background-color: #DFDCD8;
}

#img-footer{
    width: 200px;
    align: center;
    margin: auto;
}

.allign-center{
    width: 400px;
    position: absolute;
    top: 55%;
    left: 47%;
    margin: -125px 0 0 -125px;
    text-align:center;
}
#home-page{
     width: 400px;
     height: 250px;
     position: absolute;
     top: 50%;
     left: 48%;
     margin: -125px 0 0 -125px;
}

#home-logo{
    width: 200px;
    margin: -10px  0 -10px;
}

#home-page-header{
   color: #37595E;
}

#contact-inf{
     position: fixed;
        bottom: 47px;
        padding: 10px;
        width: 70%;
        align: center;
        margin: auto;
}

#contact{
    width: 50%;
    position: absolute;
    top: 45%;
    left: 33%;
    text-align:center;
    margin: -125px 0 0 -125px;
}